.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 767px) {
  .u-section-1 .embed-responsive-1 {
    width: 198%;
    left: -49%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .embed-responsive-1 {
    width: 314%;
    left: -107%;
  }
} .u-section-2 {
  background-image: url("images/SUPERFATCAT_POSITIVO_fin.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 407px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-family: "Advent Pro";
  margin: 58px auto 0 -6px;
}

.u-section-2 .u-text-2 {
  font-family: "Advent Pro";
  margin: 12px 641px 60px -1px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 30px;
    margin-right: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 193px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.6666666666666665rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.66667rem;
    width: auto;
    margin-top: 16px;
    margin-left: -7px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-right: 147px;
    margin-left: -7px;
  }
}